#card {
  margin: 0.2rem;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id-line {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
}
